.container {
	margin-top: 50px;
}


/* index */
.carousel-inner img {
    	width: 100%;
    	height: 100%;
}

#demo .carousel-inner .carousel-item img{
	width: 60%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.container-bg {
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../bg.jpg");
	background-size: cover;}
.conf-bg {
	background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../tedconf.jpg");
	background-size: cover;}
.bg-col {
	background-color: rgba(0,0,0,0.3);
}
.jumbotron {
	margin-bottom: 0;
}

.icon {
	height: 50px;
	width: 50px;
}

.nav-text {
	margin-right: 30px;
	letter-spacing: 2px;
	font-size: 20px;
}


.interest {
	margin: 10px;
	padding: 15px;
}
.heading {
	background-image: url("../img/welcome.jpg");
	background-size: cover;
	background-position: center;
}


/* aboutme */
nav ul li a:hover{
	text-decoration: none;
	background-color: rgba(0,0,0,0.3);
    color: white;
    font-style: oblique;
	font-weight: bold;
}

.img-fluid{
	padding: 30px;
}



/* creations */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.desc{
	padding: 20px;
	text-align: center;
}